$main_purple: #551a8b

@font-face
  font-family: 'bitFont'
  src: url(./assets/fonts/ZFTERMIN__.ttf)
  /* src: url(./assets/fonts/CHULAJARUEK.ttf)
  /* src: url(./assets/fonts/2005_iannnnnCPU.ttf)

#app
  font-family: 'bitFont'
  font-size: 22px
  margin-left: auto
  margin-right: auto
  padding-top: 10px
  width: 85%

h3
  font-weight: normal

a
  text-decoration: none

input, button, textarea
  font-family: inherit
  font-size: 19px
  padding: 6px 10px
  border: 1px solid #999
  border-radius: 8px

input
  margin-bottom: 20px

button, input[type=submit]
  background-color: $main_purple
  color: #fff

ul
  list-style-type: none
  padding: 0

li
  margin-bottom: 12px


// NOTE navigator

nav
  float: right

nav a
  padding-left: 25px
  padding-right: 25px

#header::after
  display: block
  content: ''
  clear: right
